body {
    font-family: 'Fira Sans', sans-serif;
}

/* Navbar */
.nav-item {
    letter-spacing: .2em;
    font-size: 14px;
    text-transform: uppercase;
    font-color: #0F5405;
}

.dropdown-item {
    letter-spacing: 0em;
    font-size: 14px;
    text-transform: uppercase;
}

.my_footer {
    background-color: #F6DDCC;
    height: 60px;
    padding-top: 20px;
    font-size: 14px;
}

.my_row_class {
    padding-top: 15px;
}

.my_row_class .mx_auto {
    color: #000;
    font-size: 12px;
}

.my_image {
    width: 100%;
    height: auto;
}

.my_title {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0em;
}

.my_image_padding {
    padding: 5px;
}

.my_bottom_margin{
    margin-bottom: 10px;
}

.card-body h4 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0em

}



/***product page ***/

.my_prod_row_class{
    padding-top: 15px;
    padding-bottom: 20px
}

.my_prod_row_class .mx_auto{

    color: #000;
    font-size: 12px;
    text-decoration: none;
}

.my_prod_title{
    font_size: 16px;
    letter-spacing: .1em;
    padding-top: 15px;
    padding-bottom: 10px;
}

.my_prod_text{
   padding-top: 15px;
   padding-bottom: 10px;
}

.my_search_text {
    padding-top: 20px;
}

.my_custom_table{
    min-width: 400px,
    font-size: 14px;
}

.my_custom_thead{
    font-weight: normal;
    text-tranform:uppercase;
    letter-spacing: .2em;
    background-color: #f8f8fa!important;

}


.custom_a{
    text-decoration: none;
}

.custon_icon{
    text-decoration: none;
    color: #868e96 !important;

}

.my_custom_button{
    margin-top: 5px;
}

.row.mx-auto {
    text-align: left !important;
    }


}